<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tecsup.nutriplayapp">

    <!-- Permiso para acceso a la camara del dispositivo -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Permiso de lectura y escritura al almacenamiento externo del dispositivo -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Acceso a internet para Picasso e IBM -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Acceso al estado de conexión a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.tecsup.nutriplayapp.activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.tecsup.nutriplayapp.activities.HomeActivity"></activity>
        <activity android:name="com.tecsup.nutriplayapp.activities.ModuloDetalleActivity" />
        <activity android:name="com.tecsup.nutriplayapp.PreguntaActivity" />
        <activity android:name="com.tecsup.nutriplayapp.FelicidadesActivity" />
        <activity android:name="com.tecsup.nutriplayapp.ResultadoActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.DetalleJuegoActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.DetalleRecetaActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.JuegoActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.RecetaActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.AvatarActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.ModuloCuestionarioActivity" />
        <activity
            android:name="com.tecsup.nutriplayapp.jobsdetallereceta"
            android:parentActivityName="com.tecsup.nutriplayapp.activities.RecetaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tecsup.nutriplayapp.activities.RecetaActivity" />
        </activity>
        <!--
        <activity android:name=".fragments.IngredientesFragment" />
        <activity android:name=".fragments.PreparacionFragment">
        -->
        <activity android:name="com.tecsup.nutriplayapp.activities.ListaAlimentosActivity" />
        <activity android:name="com.tecsup.nutriplayapp.activities.DetalleAlimentoActivity"
            android:parentActivityName="com.tecsup.nutriplayapp.activities.ListaAlimentosActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tecsup.nutriplayapp.activities.ListaAlimentosActivity" />
        </activity>
        <activity android:name="com.tecsup.nutriplayapp.activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>